.galeria-postagens {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(3, 1fr); /* Três colunas */
  max-width: 1200px;
  margin: 0 auto;
}

.galeria-postagens img {
  object-fit: cover;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  aspect-ratio: 1 / 1; /* Quadrado por padrão */
}

.galeria-postagens img:hover {
  transform: scale(1.01);
  box-shadow: 0 0 35px 4px rgba(140, 62, 239, 0.4);
  border: 2px solid var(--c-06);
}

/* Deixa as últimas 9 imagens mais altas */
.galeria-postagens img:nth-last-child(-n + 9) {
  aspect-ratio: 1 / 1.5; /* Mais altas */
}
