.galeria-postagens {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(3, 1fr); /* 3 colunas */
  max-width: 1200px;
  margin: 0 auto;
  position: relative; /* Adicionado para garantir que os efeitos de hover sejam aplicados corretamente */
}

.galeria-postagens img {
  object-fit: cover;
  transition: 0.5s;
  aspect-ratio: 1 / 1; /* Mantém quadrado por padrão */
  width: 100%;
  height: 100%; /* Garante que a altura seja sempre proporcional */
}

.galeria-postagens img:hover {
  transform: scale(1.02); /* Adiciona zoom no hover */
  box-shadow: 0 0 35px 4px rgba(140, 62, 239, 0.4);
  border: 2px solid var(--c-06);
}

/* Deixa as últimas 9 imagens mais altas */
.galeria-postagens img:nth-last-child(-n + 9) {
  aspect-ratio: 1 / 1.5; /* Torna as últimas 9 imagens mais altas */
  min-height: 300px; /* Definindo altura mínima para as imagens */
}

.imagem-projeto-galeria {
  border: 2px solid var(--c-06);
  border-radius: 0.5rem;
  display: flex;
  transition: 0.5s;
  justify-content: center;
}

.imagem-projeto-galeria:hover {
  box-shadow: 0 0 35px 4px rgba(140, 62, 239, 0.4);
}

.hover-projetos:hover .imagem-projeto-galeria img {
  transition: 0.5s;
}
