.galeria-kv {
  display: grid;
  gap: 1rem;
  grid-template-columns: 1fr; 
}

.galeria-kv img {
  object-fit: cover;
  width: 100%; 
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.galeria-kv img:hover {
  transform: scale(1.01);
  box-shadow: 0 0 35px 4px rgba(140, 62, 239, 0.4);
  border: 2px solid var(--c-06);
}