.curriculo-banner {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 2fr 1fr;
  justify-content: space-between;
  align-items: center;
  gap: 3rem;
  padding: 0rem 3rem;
}

.retrato-curriculo {
  width: 100%;
  border: 1px solid var(--p-01);
  border-radius: 1rem;
  object-fit: cover;
  transition: 0.5s;
}

.retrato-curriculo:hover {
  width: 100%;
  border: 1px solid var(--p-02);
  border-radius: 1rem;
  object-fit: cover;
  transform: scale(1.02);
  box-shadow: 0 0 90rem 4px rgba(140, 62, 239, 0.3);
}

.texto-curriculo {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.texto-curriculo h2 {
  font-size: 4rem;
}

.texto-curriculo p {
  font-size: 1.5rem;
}

.sobre {
  max-width: 1200px;
  padding: 10rem 3rem;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.descricao-sesao-curriculo {
  font-size: 1.3rem;
}

.titulo-sesao-curriculo {
  color: var(--p-01);
  font-weight: bold;
  font-size: 1.5rem;
}
