.curriculo-banner {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 2fr 1fr;
  justify-content: space-between;
  align-items: center;
  gap: 3rem;
  padding: 0rem 3rem;
}

.retrato-curriculo {
  width: 100%;
  border: 1px solid var(--p-01);
  border-radius: 1rem;
  object-fit: cover;
  transition: 0.5s;
}

.retrato-curriculo:hover {
  width: 100%;
  border: 1px solid var(--p-02);
  border-radius: 1rem;
  object-fit: cover;
  transform: scale(1.02);
  box-shadow: 0 0 90rem 4px rgba(140, 62, 239, 0.3);
}

.texto-curriculo {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.sobre {
  max-width: 1200px;
  padding: 10rem 3rem;
  margin: 0 auto;
  gap: 3rem;
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.titulo-sesao-formacao {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 2fr;
  justify-content: space-between;
  gap: 3rem;
  padding: 0rem 3rem;
}
.titulo-sesao-formacao-2 {
  max-width: 1200px;
  margin: 10rem auto;
  display: grid;
  grid-template-columns: 1fr 2fr;
  justify-content: space-between;
  gap: 3rem;
  padding: 0rem 3rem;
}

.flex-curriculo-descricao {
  padding-top: 2rem;
  display: flex;
  flex-wrap: wrap;
  gap: 2rem; /* Espaçamento entre as colunas */
  box-sizing: border-box;
}

.flex-curriculo-descricao > div {
  flex: 1 1 calc(50% - 1rem); /* Define que cada div ocupe 50% da largura, com gap entre elas */
  box-sizing: border-box; /* Garantir que o padding e o gap não quebrem o layout */
}

.conteudo-descricao-curriculo {
  display: grid;
  padding: 2rem 4rem;
  border: 2px solid var(--c-06);
  background-color: var(--c-07);
  border-radius: 0.5rem;
  transition: 0.5s;
  gap: 1rem;
}

.banner-portfolio-curriculo {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 3rem;
  max-width: 1200px;
  padding: 0rem 3rem;
  margin: 10rem auto;
}

.botao-direcionamento {
  gap: 1rem;
  display: flex;
  align-items: start;
}

@media (max-width: 800px) {
  .curriculo-banner {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
  }
}

@media (max-width: 500px) {
  .curriculo-banner {
    display: flex;
    flex-wrap: wrap;
    padding: 0rem 1.5rem;
    margin-top: 2rem !important;
  }
  .sobre {
    display: flex;
    flex-wrap: wrap;
    padding: 5rem 1.5rem;
  }
  .titulo-sesao-formacao {
    display: flex;
    flex-wrap: wrap;
    padding: 0rem 1.5rem;
  }
  .titulo-sesao-formacao-2 {
    display: flex;
    flex-wrap: wrap;
    padding: 0rem 1.5rem;
    margin-top: 5rem;
  }
  .banner-portfolio-curriculo {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column-reverse;
    padding: 0rem 1.5rem;
  }
  .retrato-curriculo {
    height: 15rem;
  }
  .conteudo-descricao-curriculo {
    padding: 1rem 2rem;
  }
}
