.texto-nome-projeto {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 5rem;
  margin-bottom: 4rem;
}

@media (max-width: 600px) {
  .texto-nome-projeto {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    margin-bottom: 5rem;
  }
  .texto-nome-projeto {
    margin: 0rem 0rem 2rem 0rem;
  }
  .section-nome-projeto {
    margin: 0rem !important;
  }
}
