.video-background-header {
  width: 100%;
  height: 2rem;
  object-fit: cover;
}

.banner-portfolio {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 3rem;
  max-width: 1200px;
  padding: 0rem 3rem;
  margin: 3rem auto;
}

.port-trabalhos {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.port-trabalhos h3 {
  font-size: 4rem;
}

.port-port {
  font-size: 1.3rem;
  color: var(--c-04);
}

.trabalhos-box-texto {
  padding: 1rem 2rem;
  border: 1.5px solid transparent;
  border-radius: 3rem;
  color: var(--c-04);
  align-self: start;
  position: relative;
  background: linear-gradient(var(--c-07), var(--c-07)) padding-box,
    linear-gradient(45deg, #ff6f61, #6f61ff, #61ff6f, #6f61ff) border-box;
  background-clip: padding-box, border-box;
  background-size: 400% 400%; /* Ajuste para maior área de movimento */
  animation: stroke-loop 5s linear infinite;
}

@keyframes stroke-loop {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.nav-port-lista {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.nav-fora-port {
  display: flex;
  gap: 10rem;
  justify-self: end;
}
.nav-fora-port a {
  display: block;
  max-width: max-content;
}

.nav-dev {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.nav-desing {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.nav-portfolio {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.nav-fora-port div a p {
  transition: 0.5s;
  display: flex;
}

.nav-fora-port a :hover {
  color: var(--p-02);
}

.section-nome-projeto-sequencia {
  display: grid;
  max-width: 1200px;
  margin: 3rem auto;
  padding: 0rem 3rem;
}

.topo-ver-mais {
  display: flex;
  gap: 3rem;
  justify-content: space-between;
}

@media (max-width: 1000px) {
  .port-trabalhos h3 {
    font-size: 2.5rem;
  }
  .nav-fora-port {
    display: flex;
    gap: 5rem;
    justify-self: end;
  }
  .banner-portfolio {
    padding: 0rem 1.5rem;
  }
}

@media (max-width: 700px) {
  .banner-portfolio {
    display: flex;
    flex-wrap: wrap;
    gap: 4rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
  .section-nome-projeto-sequencia {
    display: grid;
    max-width: 1200px;
    margin: 5rem auto;
    padding: 0rem 1.5rem;
  }
  .topo-ver-mais {
    display: flex;
    flex-direction: column-reverse;
    flex-wrap: wrap;
    display: flex;
    gap: 0rem;
    justify-content: space-between;
  }
  .port-trabalhos {
    gap: 1rem;
  }
}

@media (max-width: 500px) {
  .port-trabalhos {
    gap: 1rem;
  }
  .section-nome-projeto-sequencia {
    margin: 2rem 0rem;
    margin-bottom: 0rem !important;
  }
  .trabalhos-box-texto {
    padding: 0.5rem 1rem;
    font-size: 0.8rem !important;
    border: 1px solid transparent;
  }
  .nav-fora-port {
    display: flex;
  }
  .projetos-padding .botao-direcionamento-centro {
    padding-bottom: 5rem;
  }
}
