.background-footer {
  background-color: var(--c-07);
  border: 2px solid var(--c-06);
}

.max-width {
  max-width: 1200px;
  margin: 0 auto;
  padding: 5rem 3rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 5rem;
}

.link-logo-footer {
  display: inline-block; /* Garante que o link abranja apenas o tamanho do conteúdo */
  width: fit-content;    /* Ajusta o tamanho do link ao conteúdo do logo */
  height: fit-content;   /* Ajusta a altura do link ao conteúdo do logo */
}

.logo-footer {
  width: 10rem;          /* Mantém o tamanho do logo */
  transition: 0.5s;      /* Efeito de transição */
}

.logo-footer:hover {
  filter: drop-shadow(0 0 30px rgba(140, 62, 239, 1));
}


.icones-footer {
  display: grid;
  height: 2rem;
  flex: 1;
}

.footer-icones-nav {
  gap: 2rem;
  display: flex;
  justify-content: end;
  align-items: center;
}

.footer-nav {
  display: flex;
  gap: 5rem;
  justify-content: end;
}

.footer-nav a {
  transition: 0.5s;
}

.footer-nav a:hover {
  color: var(--p-02);
}

.icones-bola {
  border-radius: 3rem;
  background-color: var(--p-01);
}

.whatsapp-btn {
  position: fixed;
  bottom: 2.5rem;  /* Distância do rodapé */
  right: 2.5rem;   /* Distância da lateral direita */
  background-color: var(--c-03); /* Cor do botão do WhatsApp */
  border-radius: 50%;
  padding: 0.3rem;
  z-index: 1000; /* Garante que o ícone fique sobre outros elementos */
  transition: transform 0.3s ease, background-color 0.3s ease, border-color 0.3s ease;
  border: 2px solid transparent; /* Borda inicial transparente */
}

.whatsapp-btn img {
  width: 4rem;   /* Tamanho do ícone */
  height: 4rem;
  transition: filter 0.3s ease; /* Suaviza a transição da cor do ícone */
}

.whatsapp-btn:hover {
  transform: scale(1.1);  /* Aumenta o tamanho do ícone quando o mouse passa em cima */
  filter: drop-shadow(0 0 20px rgba(140, 62, 239, 0.7));  /* Adiciona o efeito de sombra */
  background-color: var(--p-01); /* Cor do botão no hover (roxo, por exemplo) */
  border-color: var(--p-03); /* Borda roxa no hover */
}

.whatsapp-btn:hover img {
  filter: brightness(0) invert(1); /* Deixa o ícone branco (claro) no hover */
}

@media (max-width: 500px) {
  .solucoes {
    padding: 0rem 1.5rem;
  }
  .box-solucoes-dentro {
    padding: 1rem 2rem;
  }
  .logo-interno{
    width: 12rem;
  }
}