.section-nome-projeto {
  display: grid;
  max-width: 1200px;
  margin: 10rem auto;
  padding: 0rem 3rem;
}

.nome-section-projeto {
  font-size: 3rem;
}

.nome-projeto {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.nome-projeto p {
  font-size: 1.3rem;
  padding: 2rem 0rem;
}






.imagem-projeto {
  border: 2px solid var(--c-06);
  border-radius: 0.5rem;
  max-width: 1200px;
  margin: 0 auto;
  width: 100%;
  height: 40rem; /* Definindo altura para o contêiner */
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden; /* Garante que nada ultrapasse os limites do contêiner */
  transition: 0.5s;
}

.hover-projetos:hover .imagem-projeto {
  box-shadow: 0 0 90rem 4px rgba(140, 62, 239, 0.3);
  border: 2px solid var(--p-03);
}

.imagem-projeto img {
  transition: transform 0.3s ease; /* Transição suave para a transformação */
  object-fit: contain; /* Garante que a imagem mantenha sua proporção */
  max-width: 100%; /* Faz com que a imagem se ajuste ao contêiner sem ultrapassar */
  max-height: 100%; /* Faz com que a altura também seja mantida sem ultrapassar o contêiner */
}

.hover-projetos:hover .imagem-projeto img {
  transform: scale(1.06); /* Aumenta a imagem ao passar o mouse */
}

.hover-projetos .imagem-projeto img {
  transform: scale(1.02); /* Aumenta a imagem ao passar o mouse */
}

.logo-interno {
  box-shadow: none !important;
  border: none !important;
}

.texto-botao-seta {
  display: inline-flex;
  align-items: center;
  padding: 1rem 2rem;
  border: 1px solid var(--c-05);
  border-radius: 3rem;
  color: var(--c-04);
  text-decoration: none; /* Retira o sublinhado do link */
  transition: all 0.5s ease; /* Suaviza todas as transições */
  position: relative;
}

.texto-botao-seta .texto {
  margin: 0; /* Remove a margem do texto */
  transition: color 0.5s ease; /* Transição suave para a cor do texto */
  z-index: 1; /* Garante que o texto fique sobre a seta */
}

.texto-botao-seta:hover .texto {
  color: var(--p-02); /* Cor do texto ao passar o mouse */
}

.texto-botao-seta:hover {
  border: 1px solid var(--p-03);
  background-color: var(--c-08);
  color: var(--p-02);
}

.seta-container {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.5s ease-in-out, filter 0.5s ease-in-out; /* Transições para rotação e cor */
  border-radius: 50%; /* Arredonda a área de contorno da seta */
  margin-left: 1rem; /* Espaço entre o texto e a seta */
}

.seta-icone {
  width: 1.1rem; /* Ajuste o tamanho da seta */
  transition: transform 0.5s ease-in-out, filter 0.5s ease-in-out; /* Transições para rotação e cor */
}

.texto-botao-seta:hover .seta-icone {
  filter: brightness(1.4) saturate(150%) hue-rotate(250deg) contrast(100%);
  transform: translateX(0.5rem); /* Rotaciona a seta e move para a direita */
}
