.solucoes {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0rem 3rem;
}

.box-solucoes-flex {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.box-solucoes-dentro {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 1.5rem;
  padding: 2rem 4rem;
  border: 2px solid var(--c-06);
  border-radius: 0.5rem;
  box-sizing: border-box;
}

.icone-solucoes {
  width: 2.5rem;
}

@media (max-width: 500px) {
  .solucoes {
    padding: 0rem 1.5rem;
    margin: 0rem;
  }
  .box-solucoes-dentro {
    padding: 1rem 2rem;
  }
  .logo-interno{
    width: 12rem;
  }
}
