/* Estilo do header */
.header {
  display: flex;
  max-width: 1200px;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
  padding: 3rem;
  position: relative;
  z-index: 1;
}

/* Estilo do menu */
.header-menu {
  display: flex;
  flex-wrap: wrap;
}

.header-menu a {
  transition: 0.5s;
}

/* .header-menu a:hover {
  color: var(--p-02);
} */

.logo-branco-detalhado {
  height: 1.5rem;
  transition: 0.5s;
}

.logo-branco-detalhado:hover {
  filter: drop-shadow(0 0 15px var(--p-02));
}

/* Estilo do ícone de hambúrguer - Simplificado para o novo menu */
.hamburger {
  display: none;
  flex-direction: column;
  gap: 4px;
  cursor: pointer;
  justify-self: end;
  z-index: 2;
}

/* Estilo dos links */
.header-menu a {
  text-align: center;
  margin: 1.8rem 0rem 1.8rem 3.6rem;
  text-decoration: none;
  color: var(--c-02);
  font-size: 1rem;
  transition: color 0.3s ease;
  gap: 2rem;
  display: block;
  position: relative;
}

.header-menu a:hover {
  color: var(--p-01);
}

.header-menu a::after {
  content: "";
  position: absolute;
  bottom: -4px;
  left: 0;
  width: 0%;
  height: 1px;
  background-color: var(--p-01);
  transition: width 0.3s ease;
}

.header-menu a:hover::after {
  width: 100%;
}

/* Estilos para a versão mobile */
@media (max-width: 768px) {
  .header-menu {
    display: none !important; /* Esconde o menu antigo */
  }
  
  .hamburger {
    display: flex;
    align-items: center;
  }
}

@media (max-width: 500px) {
  .header {
    padding: 2rem 1.5rem 2rem 1.5rem;
    gap: 2rem;
  }
}


